@model List<ResultEstateWithCategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">İlan Listesi</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">İlanlar</a></li>
                    <li class="breadcrumb-item active">İlan Listesi</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">İlan Listesi</h4>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Başlık</th>
                                <th>il</th>
                                <th>İlçe</th>
                                <th>Satış Türü</th>
                                <th>Kategori</th>
                                <th>Fiyat</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.title</td>
                                    <td>@item.city</td>
                                    <td>@item.district</td>
                                    <td>@item.sales_type</td>
                                    <td>@item.category_name</td>
                                    <td>₺@Convert.ToDecimal(@item.price).ToString("#,##0")</td>
                                    <td>
                                        <a href="/Administrator/Estate/UpdateEstate?id=@item.estate_id" class="btn btn-secondary btn-rounded waves-effect waves-light">Güncelle</a>
                                        <a href="/Administrator/Estate/DeleteEstate?id=@item.estate_id" class="btn btn-danger btn-rounded waves-effect waves-light">Sil</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

