@model EstateViewModel

@{
    ViewData["Title"] = "UpdateEstate";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">İlan Güncelle</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">İlanlar</a></li>
                    <li class="breadcrumb-item active">İlan Güncelle</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="txt-title">İlan Başlığı</label>
                                <input class="form-control" id="txt-title" value="@Model.GetEstateDto.title" asp-for="UpdateEstateDto.title" placeholder="İlan Başlığı Giriniz" />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="txt-image">İlan Resmi</label>
                                <input class="form-control" id="txt-image" value="@Model.GetEstateDto.image" asp-for="UpdateEstateDto.image" placeholder="İlan Resmi Seçiniz" />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="select-category">Kategori</label>
                                <select class="form-control" id="select-category" asp-for="UpdateEstateDto.category_id">
                                    @foreach (var item in ViewBag.Category)
                                    {
                                        <option value="@item.Value" selected="@(ViewBag.SelectedCategory == item.Value)">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="select-type">Satış Türü</label>
                                <select class="form-control" id="select-type" asp-for="UpdateEstateDto.sales_type">
                                    <option value="Satış Türü Seçiniz" selected="@(ViewBag.SelectedSalesType == "Satış Türü Seçiniz")">Satış Türü Seçiniz</option>
                                    <option value="Kiralık" selected="@(ViewBag.SelectedSalesType == "Kiralık")">Kiralık</option>
                                    <option value="Satılık" selected="@(ViewBag.SelectedSalesType == "Satılık")">Satılık</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="txt-city">Şehir</label>
                                <input class="form-control" id="txt-city" value="@Model.GetEstateDto.city" asp-for="UpdateEstateDto.city" placeholder="Şehir Giriniz" />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="txt-district">İlçe</label>
                                <input class="form-control" id="txt-district" value="@Model.GetEstateDto.district" asp-for="UpdateEstateDto.district" placeholder="İlçe Giriniz" />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="txt-address">Adres</label>
                                <input class="form-control" id="txt-address" value="@Model.GetEstateDto.address" asp-for="UpdateEstateDto.address" placeholder="Adres Giriniz" />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="txt-price">Fiyat</label>
                                <input class="form-control" id="txt-price" value="@Model.GetEstateDto.price" asp-for="UpdateEstateDto.price" placeholder="Fiyat Giriniz" />
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group">
                                <label for="txt-description">Açıklama</label>
                                <textarea class="form-control" id="txt-description" name="UpdateEstateDto.description" placeholder="Açıklama Giriniz" rows="3">@Model.GetEstateDto.description</textarea>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" value="@Model.GetEstateDto.estate_id" asp-for="UpdateEstateDto.estate_id" />
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>

